[run]
branch = True
source = hopper, api, form_data
omit =
    *migrations*
    *test*
    *urls.py
    hopper/config/*wsgi*.py
    hopper/config/settings*
    hopper/manage.py

[report]
show_missing = True
