include *.rst
include *.txt
include .coveragerc
include LICENSE
include Makefile
include tox.ini
include bower.json
include manage.py
exclude .bumpversion.cfg
exclude .editorconfig
exclude *.yml

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include hopper *
recursive-include tests *
recursive-include requirements *.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

prune envs
