{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "Your Forms"%}
{% endblock title %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>title</th>
          <th>url</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
      {% for form in formdata_list %}
        <tr>
          <td>form.title</td>
          <td>form.url</td>
          <td><a href="">{% trans "Edit" %} <i class="fa fa-pencil"> </i></a></td>
          <td><a href="">{% trans "Delete" %} <i class="fa fa-trash-o"> </i></a></td>
        </tr>
      {% empty %}
        <tr><td>You have no forms yet.</td></tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
